/* ==================================================
   CONTAINER
================================================== */

.container {
  width: min(var(--container), calc(100% - 8rem));

  margin-inline: auto;
}

/* ==================================================
   SECTIONS
================================================== */

section {
  padding: var(--space-xl) 0;
}